[Unit]
Description=Quiz Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/quiz_bot
Environment="PATH=/opt/quiz_bot/venv/bin"
ExecStart=/opt/quiz_bot/venv/bin/python /opt/quiz_bot/telegram_bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target